@import '../App.css';

.header {
  background-color: var(--color-orange);
  color: var(--color-white);
  display: flex;
  position: sticky;
  align-items: center;
  justify-content: center;
  left: 0;
  top: 0;
  width: 100%;
  padding: 0.2em 0;
  z-index: 100;
  /* box-shadow: 0px 2px 2px var(--color-orange); */
}

.title {
  text-align: center;
  font-size: var(--text-max);
}

.bar {
  font-size: var(--text-max);
  position: absolute;
  display: flex;
  cursor: pointer;
  right: var(--text-max);
}

