@import '../App.css';

.header {
  background-color: var(--color-primary);
  color: var(--color-secundary);
  display: flex;
  position: sticky;
  align-items: center;
  justify-content: center;
  left: 0;
  top: 0;
  width: 100%;
  padding: 0.2em 0;
  z-index: 100;
  box-shadow: 6px 0px 6px #0008;
}

.title {
  text-align: center;
  font-size: var(--text-max);
}

.bar {
  font-size: var(--text-max);
  position: absolute;
  display: flex;
  cursor: pointer;
  right: var(--text-max);
  color: var(--color-yellow);
}


