@import '../App.css';


.welcome {
  background-color: var(--color-primary);
  color: var(--color-secundary);
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content:center;
  width: 100%;
  min-height: 100vh;
  box-shadow: 0px 6px 6px #0004;
}

.welcome::after {
  content: '';
  background-image: url('../../assets/pictures/home.jpg');
  background-size: cover;
  position:absolute;
  height:auto;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.5;
  filter:opacity(0.5) brightness(1) contrast(1);
}


.note {
  color: var(--color-primary);
  background-color: var(--color-yellow);
  position: absolute;
  text-align: center;
  padding: 0.5em 0;
  font-weight: 700;
  width: 100%;
  top: 0;
  z-index: 10;
}


.store {
  padding: 3em 0;
  z-index: 10;
}

.link{
  text-decoration: none;
  color: var(--color-primary);
  background-color: var(--color-secundary) ;
  border: 1px solid var(--color-primary);
  padding: 1em;
  border-radius: 5%;
  font-size: var(--text-mid);
}

.link:hover{
  color: var(--color-yellow);
  background-color: var(--color-primary);
  box-shadow: 0px 0px 6px #0008;
}

.list {
  background-color: var(--color-primary);
  position: relative;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  align-self: center;
  flex-wrap: wrap;
  width: 80vw;
  padding: 0;
  margin-top: 2em;
  border-radius: 5%;
  box-shadow: 6px 6px 6px #0004;
  z-index: 10;
}

.group{
  font-size: var(--text-min);
  padding: var(--text-min);
  list-style: none;
  display: flex;
  align-items: center;
}

.icons {
  font-size: var(--text-big);
  padding: 0 0.2em;
  color: var(--color-yellow);
}

.item{
  display: flex;
  flex-direction: column;
}
.title {
  font-size: var(--text-big);
  line-height: 0;
  z-index: 10;
  padding-top: 0.75em;
}
.comment {
  font-size: var(--text-min);
  font-size: var(--text-bot);
  align-self: center;
  width: 75%;
  font-weight: 600;
  line-height: 2em;
  z-index: 10;
}

.text {
  font-size: var(--text-min);
}