@import '../App.css';

.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height:100vh;
  width: 100%;
  box-shadow: 0px 0px 6px #0008;
}

.title {
  font-size: var(--text-max);
  margin: 0;
  color: var(--color-orange);
  text-align: center;
}
