@import '../App.css';

.sidenav {
  background-color: var(--color-primary);
  position: fixed;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 2em;
  width: auto;
  left: 0;
  top: 0;
  height: 100%;
  transition: 0.5s;
  box-shadow: 6px 0px 6px #0004;
}

.none {
  position: fixed;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 2em;
  width: auto;
  left: -500px;
  top: 0;
  height: 100%;
  transition: 0.5s;
  background-color: var(--color-primary);
}

.logo {
  object-fit: contain;
  max-width: 250px;
}


.item {
  text-decoration: none;
  color: var(--color-secundary);
  margin: var(--text-mid);
  padding: 0.2em 0.5em;
  font-size: var(--text-max);
  cursor: pointer;
}

.item:hover {
  color: var(--color-primary);
  background-color: var(--color-yellow);
  border-radius: 5%;
}

.active {
  color: var(--color-primary);
  background-color: var(--color-yellow);
  border-radius: 5%;
  transition: 0.5s;
}

.social {
  position: absolute;
  bottom: 2em;
}

/* .social::after {
  position: relative;
  content: '';
} */