@import '../App.css';

.sidenav {
  background-color: var(--color-orange);
  position: fixed;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 2em;
  width: auto;
  left: 0;
  top: 0;
  height: 100%;
  transition: 1s;
  box-shadow: 6px 0px 6px #0004;
}

.none {
  background-color: var(--color-white);
  position: fixed;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 2em;
  width: auto;
  left: -500px;
  top: 0;
  height: 100%;
  transition: 2s;
}


.item {
  text-decoration: none;
  color: var(--color-white);
  margin: var(--text-mid);
  padding: 0.2em 0.5em;
  font-size: var(--text-max);
  font-weight: 700;
  cursor: pointer;
}

.item:hover {
  color: var(--color-orange);
  background-color: var(--color-white);
  border-radius: 5%;
}

.active {
  color: var(--color-orange);
  background-color: var(--color-white);
  border-radius: 5%;
  transition: 0.5s;
}