:root {
  --color-primary: #ffffff;
  --color-secundary: #3b3b37;
  --color-white: #ffffff;
  --color-gray: #d1d0d0;
  --color-blue: #286394;
  --color-black: #000;
  --color-orange: #c9580d;
  --color-yellow: #f1aa0e;
  --color-red: #b10c00;
  --text-min: 1em;
  --text-bot: 1.1em;
  --text-mid: 1.25em;
  --text-max: 1.5em;
  --text-top: 2em;
  --text-big: 3em;
}
